.top-meta {
  display: grid;
  max-width: 100%;
  position: absolute;
  z-index: 1000;
}
.meta-mask {
  display: grid;

  background: white;
  border-radius: 10px;

  box-shadow: 0px 25px 30px 45px #006ae508;
  justify-items: center;
  padding: 40px 0;
  row-gap: 10px;
}
.meta-mask p {
  color: #293341;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}
.meta-mask button {
  width: 150px;
  background-color: #293341;
  color: white;
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
/* components/MetaWallet.module.css */

/* 
.topMeta {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.metaMask {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.metaMask img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.metaMask p {
  margin-bottom: 20px;
}

.metaMask button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #f6851b;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #d9534f;
  color: white;
  border-radius: 4px;
  cursor: pointer;
} */
