.page {
  background-color: white;
  width: 100%;
  height: 80px;
  box-shadow: 0px 5px 13px 0px #006ae508;

  box-shadow: 0px -5px 30px 0px #006ae505;
}
.brand img {
  width: 150px;
  height: 50px;
}
.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
.search-bar {
  display: none;
}
.menu {
  display: none;
}
.button-profile {
  display: none;
}
.toggle {
  display: block;
  background: none;
  outline: none;
  border: none;
}
.toggle img {
  cursor: pointer;
}
.mobile-menu {
  display: block;
  background: black;
  opacity: 0.9;
  padding: 10px;
  position: absolute;
  z-index: 0;
  width: 100%;
}
.menus {
  display: grid;
  border: none;
  padding-top: 35px;
}
.menus a {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 7px 6px;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.menus:hover {
  color: rgb(239, 235, 235);
  border-radius: 10px;
}
.mobile-search-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background-color: #f7f9fa;
  border-radius: 100px;
  padding: 10px 16px;
  align-self: center;
  justify-content: left;
  grid-gap: 12px;
  width: 370px;
}

.mobile-search-bar > input {
  color: #8390a2;
  background-color: var(--canvas-bg);
  border-radius: 100px;
  outline: none;
  border: none;
  font-family: var(--font-inter);
}
.mobile-menu-button {
  padding: 72px 5px;
  letter-spacing: 1.5px;
  /* display: none; */
}
.mobile-menu-san {
  display: none;
}
.mobile-menu-button button {
  width: 170px;

  height: 45px;
  border: 1px solid white;
  background: white;
  color: rgb(0, 117, 220);
  border-radius: 100px;
  font-size: 16px;
}
@media (min-width: 650px) and (max-width: 1024px) {
  .mobile-menu-san {
    display: block;
    padding: 0 0 15px 0;
  }
  .parent-button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
  .mobile-menu-san button {
    width: 170px;

    height: 45px;
    border: 1px solid #293341;
    background: #293341;
    color: #ffffff;
    border-radius: 100px;
    font-size: 16px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    display: grid;
    justify-content: space-between;
  }

  .search-bar {
    display: grid;
  }
  .menu {
    display: grid;
  }
  .button-profile {
    display: grid;
  }
  .toggle {
    display: none;
  }
  .search-bar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #f7f9fa;
    border-radius: 100px;
    padding: 10px 16px;
    align-self: center;
    justify-content: left;
    grid-gap: 12px;
    width: 370px;
  }
  .search-bar > input {
    color: #8390a2;
    background-color: var(--canvas-bg);
    border-radius: 100px;
    outline: none;
    border: none;
    font-family: var(--font-inter);
  }
  .menu {
    display: grid;
    border: none;
    grid-auto-flow: column;
    column-gap: 25px;
  }
  .menu ul {
    padding: 0;
    display: grid;
  }
  .button-profile {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
  }

  .button-profile button {
    border: 1px solid #293341;
    background-color: #293341;
    border-radius: 100px;
    padding: 10px;
    color: white;
  }
}
