p {
  margin: 0;
}

.grid-flex {
  display: grid;
  row-gap: 20px;
}

.grid {
  display: grid;
  background: white;
}
.hero-ism {
  box-shadow: 0px 25px 30px 45px #006ae508;
}
.parent-hero p {
  display: grid;
  padding: 15px;
}
.parent-hero p:nth-child(2) {
  color: grey;
  font-weight: 300;
}
.sub-grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.hero-grid {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  gap: 5px;
  cursor: pointer;
}
.hero-content p {
  display: grid;
  row-gap: 5px;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.2px;
}
.hero-img {
  display: grid;

  justify-content: center;
}
.sub-hero {
  display: grid;
  grid-auto-flow: column;
  column-gap: -14px;
  gap: 5px;
  grid-template-columns: 1fr 0fr;
}
.hero-content p:nth-child(1) {
  color: rgb(161, 158, 158);
}
.hero-img p {
  color: rgb(36, 34, 34);
  font-weight: 700;
  margin: 0;
  padding: 10px 0;
  font-size: 15px;
}
/* .hero-img-con img {
  width: 323px;
  height: 247px;
  display: grid;

  justify-content: center;
} */
.currnet-bid {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.bid-ending {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.hero-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 20px 0;
}
.hero-footer-image {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 5px;
}
.hero-footer-button button {
  width: 130px;
  height: 40px;
  background: #1a79e8;
  color: white;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;
}
.currnet-bid p {
  color: rgb(59, 56, 56);
  font-weight: 400;
}
.bid-ending p {
  color: rgb(59, 56, 56);
  font-weight: 400;
}
.bid-ending p:nth-child(2) {
  color: #fe7676;
}
.under-hero {
  display: grid;

  align-items: center;
  justify-content: center;
  width: 100%;
}
.under-hero-para {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  row-gap: 30px;
  padding: 30px 0;
}
.under-hero-para p:nth-child(1) {
  display: grid;
  justify-content: center;

  border: 1px solid #46536480;
  color: #293341;
  width: 170px;
  border-radius: 100px;
  padding: 10px;
}
.under-hero-para p:nth-child(2) {
  display: grid;
  color: #000000;
  font-weight: 600;

  text-align: center;
}
.hero-footer-image p {
  color: #293341;
}
.under-hero-para p:nth-child(3) {
  display: grid;

  text-align: center;
  font-size: 12px;
  color: #293341;

  letter-spacing: 0.2px;
  padding: 0 25px;
}
.under-hero-para button {
  padding: 10px;
  width: 210px;
  border-radius: 100px;
  outline: none;
  border: none;
  background: #1a79e8;
  color: white;
}

@media (min-width: 650px) and (max-width: 1024px) {
  /* body {
    background-color: yellow;
  } */
  .parent-hero-ism {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .under-hero-para p:nth-child(2) {
    font-size: 24px;
  }
  .under-hero-para p:nth-child(3) {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .parent-hero-ism {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: auto auto auto auto;
    gap: 5px;
  }
  .under-hero {
    display: grid;
    width: 100%;
    justify-items: center;
  }
  .under-hero-para {
    display: grid;
    width: 70%;
    justify-content: center;
  }

  .under-hero-para p:nth-child(2) {
    font-size: 35px;
    text-align: center;
    word-spacing: 5px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .under-hero-para p:nth-child(3) {
    font-size: 20px;
    width: 85%;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
